/* Hoja de estilos principal */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* General styles */
:root {
    /* Colores */
    /* Primary */
    --linear-gradient: linear-gradient(hsl(249, 99%, 64%),hsl(278, 94%, 30%));
    --red: hsl(0, 100%, 66%);

    /* Neutral */
    --white: hsl(0, 0%, 100%);
    --light-grayish-violet: hsl(270, 3%, 87%);
    --dark-grayish-violet: hsl(279, 6%, 55%);
    --very-dark-violet: hsl(278, 68%, 11%);
}
html {
    font-size: 100%;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 500;
  }
body {
    background: var(--white);
}
.home {
    width: 100vw;
    height: 100vh;
}
.home .page {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 34% 66%;
    grid-template-rows: 100%;
}
.home .masthead {
    display: grid;
    grid-template-rows: 48% 48%;
    grid-row-gap: 4%;
    background: var(--very-dark-violet);
}
.home .masthead .card-obverse {
    width: 91%;
    align-self: end;
    margin-left: 33%;
    display: grid;
    grid-template-rows: 44% 28% 28%;
    grid-template-columns: 50% 50%;
    border-radius: 2%;
}
.home .masthead .card-obverse .card-front-image {
    width: 100%;
    height: 100%;
    grid-column: 1/3;
    grid-row: 1/4;
}
.home .masthead .card-obverse .logo{
    width: 25%;
    grid-column: 1/3;
    grid-row: 1/2;
    align-self: start;
    padding: 5%;
}
.home .masthead .card-obverse .card-number{
    grid-column: 1/3;
    grid-row: 2/3;
    align-self: end;
    padding: 0% 5%;
    color: var(--white);
    letter-spacing: 4px;
    font-size: calc(0.8em + 1vw);
}
.home .masthead .card-obverse .card-name{
    grid-column: 1/2;
    grid-row: 3/4;
    align-self: end;
    padding: 0% 0% 10% 10%;
    color: var(--white);
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: calc(0.2em + 1vw);
}
.home .masthead .card-obverse .card-date{
    grid-column: 2/3;
    grid-row: 3/4;
    align-self: end;
    justify-self: end;
    padding: 0% 10% 10% 0%;
    color: var(--white);
    letter-spacing: 1px;
    font-size: calc(0.2em + 1vw);
}
.home .masthead .card-reverse {
    width: 91%;
    align-self: start;
    margin-left: 53%;
    display: grid;
    grid-template-rows: 53% 47%;
    grid-template-columns: 80% 20%;
    border-radius: 2%;
}
.home .masthead .card-reverse .card-back-image {
    width: 100%;
    height: 100%;
    grid-column: 1/3;
    grid-row: 1/3;
}
.home .masthead .card-reverse .card-cvc{
    grid-row: 1/2;
    grid-column: 2/3;
    justify-self: start;
    align-self: end;
    color: var(--white);
    letter-spacing: 1px;
    font-size: calc(0.2em + 1vw);
}
.home .grid-container{
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 100%;
    margin-left: 13%;
}
.home .grid-container .entry-form{
    width: 39%;
    height: 39%;
    align-self: center;
    justify-self: center;
    display: grid;
    grid-template-rows: 75% 25%;
    grid-template-columns: 100%;
}
.home .grid-container .entry-list{
    display: grid;
    grid-row: 1/2;
    grid-template-rows: repeat(3, 33%);
    grid-template-columns: 23% 26% 51%;
}
.home .grid-container .entry-item{
    display: grid;
    grid-template-rows: 25% 45% 30%;
    grid-template-columns: 50% 50%;
    grid-row-gap: 5%;
}
.home .grid-container .entry-item-tittle{
    grid-column: 1/3;
    text-transform: uppercase;
    color: var(--very-dark-violet);
    letter-spacing: 2px;
    font-size: calc(0.2em + 0.6vw);
    align-self: center;
}
.home .grid-container .entry-item-input{
    grid-column: 1/3;
    border: 1px solid var(--light-grayish-violet);
    border-radius: 10px;
    color: var(--very-dark-violet);
    padding-left: 4%;
    letter-spacing: 1px;
    font-size: calc(0.2em + 1vw);
    align-self: stretch;
}
.home .grid-container .entry-item-input:focus{
    outline: none !important;
    border-radius: 10%;
    border: 1px solid transparent;
    border-image: var(--linear-gradient) 5;
}
.home .grid-container .entry-item-input::placeholder{
    color: var(--light-grayish-violet)
}
.home .grid-container .entry-item span{
    grid-column: 1/3;
    font-size: calc(0.2em + 0.6vw);
    color: var(--red);
    align-self: start;
}
.home .grid-container .entry-item .error{
    border-color: var(--red);
}
.home .grid-container .entry-item-name{
    grid-row: 1/2;
    grid-column: 1/4;
}
.home .grid-container .entry-item-number{
    grid-row: 2/3;
    grid-column: 1/4;
}
.home .grid-container .entry-item-date{
    grid-row: 3/4;
    grid-column: 1/3;
}
.home .grid-container .entry-item-date span{
    grid-row: 3/4;
    grid-column: 1/3;
}
.home .grid-container .entry-item-date input{
    padding-left: 15%;
    width: 70%;
}
.home .grid-container .entry-item-month{
    grid-column: 1/2;
}
.home .grid-container .entry-item-year{
    grid-column: 2/3;
}
.home .grid-container .entry-item-cvc{
    grid-row: 3/4;
    grid-column: 3/4;
    margin-left: 3%;
}
.home .grid-container .entry-item-cvc input{
    padding-left: 10%;
}
.home .grid-container .entry-button{
    height: 64%;
    margin-top: 7%;
    align-self: start;
    border: 1px solid var(--very-dark-violet);
    border-radius: 10px;
    background-color: var(--very-dark-violet);
    color: var(--white);
    font-size: calc(0.5em + 0.7vw);
    letter-spacing: 1px;
}
.home .grid-container .entry-success{
    grid-row: 1/2;
    grid-column: 1/2;
    width: 39%;
    height: 39%;
    align-self: center;
    justify-self: center;
    grid-template-rows: 40% 20% 20% 20%;
    grid-template-columns: 100%;
    z-index: 10;
    display: none;
}
.home .grid-container .entry-success-image{
    align-self: center;
    justify-self: center;
    width: 35%;
}
.home .grid-container .entry-success-tittle{
    align-self: center;
    justify-self: center;
    font-size: calc(0.8em + 1vw);
    text-transform: uppercase;
    color: var(--very-dark-violet);
    letter-spacing: 2px;
}
.home .grid-container .entry-success-subtittle{
    align-self: start;
    justify-self: center;
    font-size: calc(0.3em + 1vw);
    color: var(--dark-grayish-violet);
}
.home .grid-container .entry-success-button{
    align-self: start;
    border: 1px solid var(--very-dark-violet);
    border-radius: 10px;
    background-color: var(--very-dark-violet);
    color: var(--white);
    font-size: calc(0.5em + 0.7vw);
    letter-spacing: 1px;
    height: 70%;
}

/* Resolucion para tablets  */
@media (min-width: 645px) and (max-width: 1024px) {
    .home .masthead .card-obverse .card-number{
        letter-spacing: 2px;
        font-size:  calc(0.4em + 1vw);
    }
    .home .masthead .card-obverse .card-name{
        font-size: calc(0.1em + 1vw);
    }
    .home .masthead .card-obverse .card-date{
        font-size: calc(0.1em + 1vw);
    }
    .home .masthead .card-reverse .card-cvc{
        font-size: calc(0.1em + 1vw);
    }
}
  
  /* Resolucion para moviles */
@media (max-width:645px) {
    .home .page {
        grid-template-columns: 100%;
        grid-template-rows: 34% 66%;
    }
    .home .masthead {
        grid-template-rows: 50% 50%;
        grid-row-gap: 0%;
    }
    .home .masthead .card-obverse {
        grid-row: 2/3;
        grid-column: 1/2;
        width: 76%;
        align-self: start;
        justify-self: start;
        padding-left: 6%;
        margin-left: 0;
        z-index: 10;
    }
    .home .masthead .card-obverse .logo{
        width: 18%;
        padding: 6%;
    }
    .home .masthead .card-obverse .card-number{
        font-size: calc(0.8em + 0.8vw);
    }
    .home .masthead .card-obverse .card-name{
        font-size: calc(0.4em + 1vw);
    }
    .home .masthead .card-obverse .card-date{
        font-size: calc(0.4em + 1vw);
    }
    .home .masthead .card-reverse {
        width: 76%;
        grid-row: 1/2;
        grid-column: 1/2;
        align-self: start;
        justify-self: end;
        padding-top: 8%;
        padding-right: 6%;
    }
    .home .masthead .card-reverse .card-cvc{
        font-size: calc(0.4em + 1vw);
    }
    .home .grid-container{
        display: grid;
        grid-template-rows: 100%;
        grid-template-columns: 100%;
        padding: 6%;
        margin-left: 0;
    }
    .home .grid-container .entry-form{
        width: 88%;
        height: 88%;
        grid-template-rows: 85% 15%;
    }
    .home .grid-container .entry-list{
        margin-top: 10%;
    }
    .home .grid-container .entry-item-tittle{
        font-size: calc(0.5em + 1vw);
    }
    .home .grid-container .entry-item-input{
        font-size: calc(0.7em + 1vw);
    }
    .home .grid-container .entry-item span{
        font-size: calc(0.5em + 1vw);
    }
    .home .grid-container .entry-button{
        height: 100%;
        font-size: calc(0.7em + 1vw);
        align-self: end;
    }
    .home .grid-container .entry-success{
        width: 88%;
        height: 88%;
        grid-template-rows: 40% 20% 20% 20%;
        grid-template-columns: 100%;
        z-index: 10;
    }
    .home .grid-container .entry-success-image{
        width: 25%;
    }
    .home .grid-container .entry-success-tittle{
        font-size: calc(1.5em + 1vw);
    }
    .home .grid-container .entry-success-subtittle{
        font-size: calc(0.8em + 1vw);
    }
    .home .grid-container .entry-success-button{
        font-size: calc(0.8em + 0.7vw);
    }    
}